
/* INICIO ENCABEZADO*/
Header{
    background: #2F2F2F;

}
.headerLogo{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 11% 0% 0% 20%;
    }
Header h1 {
    color: #9A8B3F;
    padding: 3%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:7vh ;
    font-weight: bold;
    text-transform: none;
}/*----- FIN ENCABEZADO-----*/



/*INICIO MENU DE NAVEGACION*/
.navbar {
    background: #2F2F2F;
    border-color: #bb9c10a8;
    width: -webkit-fill-available;
    }
.navbar ul {
    list-style: none;
    }
.navbar ul li {
    float: left;
    }
.navbar ul li a {
    font-family: 'Cinzel', serif;
    display: block;
    color:#c2c2c2;
    font-size: 17px;
    text-decoration: none;
    }
.navbar ul li a:hover {
    background: #bebdbd;
    font-family: 'Cinzel', serif;
    color:#2F2F2F;
} /*----- FIN MENU DE NAVEGACION-----*/



/* INICIO BODY INDEX*/
body {
    background-image: url(imagenes/fondo2.jpg);    /* Ubicación de la imagen */
    background-position: center center; /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-repeat: no-repeat;/* Para que la imagen de fondo no se repita */
    background-attachment: fixed; /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-size: cover;/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-color: #d3c575;/* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */  
    }
.infoHome p{ /*parrafo home*/
    color:#f8f2dc;
    font-family: 'Cinzel', serif;
    font-size: 8vh;
    text-transform: none;
    text-align: center;
    background: #31312e96
}/*-----FIN BODY INDEX-----*/



/* INICIO BODY ORGANIZATION*/
.organizationBody {
    background: rgba(0, 0, 0, 0.42);
    }
.organizationBody h3{
    margin: 3%;
    color: #9A8B3F;
    font-size: 6vh;
    }
.organizationBody h1{
    font-family: 'Cinzel', serif;
    color: #959389;
    TEXT-ALIGN: -webkit-center;
    font-size: 15vh;
    }
.organizationBody h2{
    color: #9A8B3F;
    TEXT-ALIGN: -webkit-center;
    font-size: 17vh;
    }
.organizationBody button{
    font-family: 'Cinzel', serif;
    color: #eac94d;
    font-size: 7vh;
    }
.organization-wrapper {
    float: left;
    margin: 5px;
}
.champs-filtering {
    background:#31312ec2;
    padding: 3%;
}
.imagen{
    max-width: 50%;
    float: right;
    margin: 5%;
}
.organizationBody p {
    font-size: 7vh;
    margin: 5%;
    color: #babab8;
}
.buttonBack{
    margin: 0% 5%;
    font-size: 20vh;
    white-space: normal;
    color: #9A8B3F;
} /*-----FIN BODY ORGANIZATION-----*/



/* INICIO BODY VOCABULARY*/
.vocabularyBody{
    background: #181817d5;
    }
.vocabularyBody h2{
    color:#959389;
    font-size: 25px;
    text-align: center;
    margin: 5%;
    }
.vocabularyBody p{
    color:#9A8B3F;
    text-align: center;
    margin: 5%;
} /*-----FIN BODY VOCABULARY-----*/



/*INICIO CHAMPION */
.champion-wrapper {
    float: left;
    margin: 5px;
}

.championBody p {
    font-size: 7vh;
    margin: 5%;
    color: #babab8;
}
.championBody h2{
    color: #9A8B3F;
    TEXT-ALIGN: -webkit-center;
    font-size: 17vh;
    
}/*-----FIN BODY CHAMPION RESULT---*/




/*INICIO FOOTER*/
footer{
    background: rgb(47, 47, 47);
    margin: 4% 0% 0% 0%;
    color: #fb0097;
    padding: 5%;
    clear: both
}
.socialMedia img{
    padding: 8%;
}
footer h3{
    font-size: 16px;
}
.ficus{
    margin: -4% 0% 0% 0%;
}/*-----FIN FOOTER-----*/



